.column_content{
    padding-top: 2rem ;
    padding-right: 4rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
}

.parents{
    width: 80vw;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.2 linear;

}

.child{
    /*width: 200px;*/
    text-align:center;
    height: 200px;
    background:dimgrey;
    flex: 1 1 200px;
    margin: 20px;
    box-shadow: 0 0 20px #bac3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.btn-space{
    padding-left: 80px;
}

.about_content{
    width: auto;
    height: auto;
    color: black;
}

.nav-faq{
    float: left;
    margin: 1rem auto;
    background-color: white;
    border-radius: 0px;
    border-color: black;
    color: black;
    cursor: pointer;
}
.nav-faq:hover{
    float: left;
    background-color: dimgrey;
    border-radius: 0px;
    border-color: black;
    color: black;
}