.home-bg {
    height: 100vh;
    background-size: fill;
    background-repeat: no-repeat;

    /*background-position: top center;*/
}

.w-100 {
    width: 100% !important;
    height: 95vh;
}

img{
    max-height:100%;
    height:auto;
}

font{
    color: black;
}

.content-box {
    background-color: rgba(206,196,211,0.2);
}



.w-100 {
    width: 100% !important;
    height: 95vh;
}


.Home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

/*@media (min-width: 650px ) {*/
/*    .Home {*/
/*        background-position: center center;*/
/*    }*/

/*    .Home-content {*/
/*        align-items: flex-end;*/
/*        justify-content: center;*/
/*    }*/
/*}*/

.content{
    width: auto;
    height: auto;
    background: aliceblue;
    color: black;
}

h1{
    font-size: 3rem;
    padding: 50px;
    text-align: center;
    color: dimgrey;
}

p{
    text-align: center;
    color: aliceblue;
}

/*.parents{*/
/*    width: 80vw;*/
/*    height: auto;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*    transition: all 0.2 linear;*/

/*}*/
/*.child{*/
/*    !*width: 200px;*!*/
/*    text-align:center;*/
/*    height: 200px;*/
/*    background:dimgrey;*/
/*    flex: 1 1 200px;*/
/*    margin: 20px;*/
/*    box-shadow: 0 0 20px #bac3c3;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

@media (max-width: 768px) {
    .content{height: auto;}
}
