
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 200px;*/
}

.flip-card {
    width: 50vh;
    height: 50vh;
    margin: 2rem auto;
}

.front-side {
    background-color: #41669d ;
    align-items: center;
    flex: 1;
    font-size: 28;
    font-weight: bold;
    border-radius: 20px;
}

.back-side {
    background-color: lightgrey;
    border-radius: 20px;
}

.img-card {
    max-width: 100%;
    max-width: 100%;
    border-radius: 20px;
}

.title {
    text-align: center;
    line-height: 3em;
    vertical-align: middle;
}

.content-box {
    text-align: center;
    height:40vh;
}

/*@media screen and (min-width: 1600px) {*/
/*    .flip-card {*/
/*        width: 50vh;*/
/*        height: 50vh;*/
/*        margin-left: 15%;*/
/*        margin-top: 6%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1600px) {*/
/*    .flip-card {*/
/*        width: 50vh;*/
/*        height: 50vh;*/
/*        margin-left: 30%;*/
/*        margin-right: 30%;*/
/*        margin-top: 6%;*/
/*    }*/
/*}*/