
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 200px;*/
}


.front-side {
    background-color: rgba(0, 123, 94, 0.33);
    align-items: center;
    flex: 1;
    font-size: 28;
    font-weight: bold;
    border-radius: 20px;
}

.back-side {
    background-color: lightgrey;
    border-radius: 20px;
}

.frame {
    height: 75%; /*can be anything*/
    width: 94%; /*can be anything*/
    border-radius: 20px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.img-card {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.play-btn{
    font-size: 1.4rem;
}

.title {
    text-align: center;
    line-height: 3em;
    vertical-align: middle;
    margin: 1.2rem auto;

}

.backcard-word{
    font-size: 4rem;
}
.card-content-box {
    text-align: center;
    max-height:40vh;
    height: 100%;
}
.flip-card {
    max-width: 50vh;
    max-height: 50vh;
    width: 100%;
    height: 50vh;
    margin: 2rem auto;
}

@media screen and (min-width: 500px) {
    .content-box {
        text-align: center;
        max-height:40vh;
        height: 100%;
    }
    .flip-card {
        max-width: 50vh;
        max-height: 50vh;
        width: 100%;
        height: 50vh;
        margin: 2rem auto;
    }
}