
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 200px;*/
}

/*.flip-card {*/
/*    width: 50vh;*/
/*    height: 50vh;*/
/*    margin: 2rem auto;*/
/*}*/


.front-side {
    background-color: rgba(0, 123, 94, 0.33);
    align-items: center;
    flex: 1;
    font-size: 28;
    font-weight: bold;
    border-radius: 20px;
}

.back-side {
    background-color: lightgrey;
    border-radius: 20px;
}

.frame {
    height: 75%; /*can be anything*/
    width: 94%; /*can be anything*/
    border-radius: 20px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.img-card {
    /*height: 250px;*/
    /*width: 310px;*/
    object-fit: cover;
    border-radius: 20px;
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    /*width: auto;*/
    /*height: auto;*/

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.title {
    text-align: center;
    line-height: 3em;
    vertical-align: middle;
    margin: 1.2rem auto;

}

/*.content-box {*/
/*    text-align: center;*/
/*    height:40vh;*/
/*}*/

@media screen and (max-width: 500px) {
    .content-box {
        text-align: center;
        height:calc(100% - 100px);
    }
    .flip-card {
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        margin: 2rem auto;
    }
}


@media screen and (min-width: 500px) {
    .content-box {
        text-align: center;
        height:40vh;
    }
    .flip-card {
        width: 50vh;
        height: 50vh;
        margin: 2rem auto;
    }
}